body {
    font-size: 22px;
}

h1, h2 {
    color: blue;
    margin-bottom: 60px; /* Adjust value as needed */
}

p {
    color: blue;
    margin-bottom: 60px; /* Adjust value as needed */
}

p span {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

.purple {
    color: purple;
}

.rotated270 {
  transform: rotate(270deg); /* Equal to rotateZ(45deg) */
}

.rotated0 {
  width: 75%;
  height: auto;
}